html {
    scroll-behavior: smooth;
}
.golova {
    padding-left: 150px;
    position:relative;
    display: inline-block;
    font-family: 'Arial', 'Verdana', sans-serif;
}

.golova h3 {
    position:absolute;
    left: 400px;
    top: 15px;
    display: inline-block;
}

.golova2 h3 {
    position:absolute;
    left: 550px;
    top: 23.7px;
    font-family: 'Arial', 'Verdana', sans-serif;
    display: inline-block;
}

a {
    color: white;
}

.osnova {
    font-family: 'Arial', 'Verdana', sans-serif;
    padding-left: 150px;
    font-size: 18px;
    width: 1100px;
    display: inline-block;
    position:relative;
}

.osnova2 {
    font-family: 'Arial', 'Verdana', sans-serif;
    padding-left: 150px;
    font-size: 18px;
    width: 1100px;
    display: inline-block;
    position:relative;
}
body {
	background: linear-gradient(-45deg, #757575, #181818, #030303, #252525);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    color: white
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.osnova3 {
    font-family: 'Arial', 'Verdana', sans-serif;
    padding-left: 150px;
    font-size: 18px;
    width: 1100px;
    display: inline-block;
    position:relative;
}
.golova2 {
    display: inline-block;
}
.logo2 {
    position: fixed;
    padding-left: 1800px;
    padding-top: 750px;
}
.logo {
    position: fixed;
    padding-left: 1750px;
    padding-top: 755px;
}